# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

!.env.example

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================
# Build Files
# ==========================
dist/
build/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Uploaded/Test Files
# ==========================
*.pdf